/* Minimized abby title bar */
.AbbyContainer .sideMenu,
.abby.chatHelp {
	background-color: rgba(255,151,112,1);
}
/* Maximized abby title bar */
.AbbyContainer .chatHelpContainer {
	background-color: #f8a346;
}
/* Abby video background */
.AbbyContainer .avatar-video {
	background-color:#fff;
}
/* Abby sliding container bg */
.AbbyContainer .slidingContainer {
	background-color: #f5f5f5;
}
/* Maximized - OTB bar background */
.AbbyContainer .avatar-form-set {
	background-color: #444f5f;
}
/* Mic button backround */
.AbbyContainer .micButton {
	background-color: #f8a346;
}
/* OTB Input box bg */
.AbbyContainer .avatar-form-set input {
	background-color: #ffffff;
}
/* Chat now, close button bg */
.chatHelpbutton1,
.chatHelpbutton2 {
	background-color: #444f5f;
}
